p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  padding: 0px;
  margin: 0;
}
main {
  padding-left: 1%;
}

nav {
  display: flex;
  align-items: center;
  gap: 10%;
  padding-left: 5%;
  background-color: blueviolet;
  margin: 0;
  height: 50px;
}

nav > a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.align-centre {
  text-align: center;
}

.align-left {
  text-align: left;
}

.container {
  font-family: arial;
  font-size: 24px;
  margin: None;
  width: 90vw;
  height: 10vh;
  outline: dashed 1px black;
}
