html > p {
  font-size: 1.5rem;
  font-family: "Courier New", Courier, monospace;
}

body {
  padding: 0px;
  margin: 0;
}

nav {
  display: flex;
  align-items: center;
  gap: 10%;
  padding-left: 5%;
  background-color: blueviolet;
  margin: 0;
  height: 50px;
}

nav > a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

main {
  padding-left: 3%;
}

.align-centre {
  text-align : center;
}

.align-left {
  text-align : left;
}

.container {
  font-family: arial;
  font-size: 24px;
  margin: None;
  width: 90vw;
  height: 10vh;
  outline: dashed 1px black;
}
